<form class="form" action="<%= experiences_url %>" method="post">
  <h1>Add your experience!</h1>

  <%= form_auth %>

  <%= render "experience_form", counter: @counter, experience: @experience %>

  <div class="button-wrapper">
    <button name="add" value="true">Add Another Position!</button>
    or
    <button>Save Resume</button>
  </div>
</form>
