<form class="form wide" action="<%= experiences_url %>" method="post">
  <h1>Add your experience!</h1>

  <%= form_auth %>

  <%= render "form", experience: @experience %>

  <div class="button-wrapper">
    <button name="add" value="true">Add Another Position!</button>
    <strong class="or"></strong>
    <button>Save Resume</button>
  </div>
</form>

<script>
  $(function () {
    $("#experience_current").on("change", function () {
      $("#end_date").toggleClass("hide");
    });
  });
</script>