$default_font: "Open Sans", sans-serif;
$title_font: "Playfair Display", sans-serif;
$content_background: #f7f7f7;

// THEME COLORS
$background_color: #eee;
$button_color: #ccc;
$button_hover: #666;
$border_color: #909090;

// ERRORS
$error_red: #d24d57;
$error_pink: #fce8e5;