$default_font: "Muli", sans-serif;
$title_font: "Playfair Display", sans-serif;
$background_color: #eee;
$content_background: #f7f7f7;
$button_color: #ccc;

// ERRORS
$error_red: #d24d57;
$error_pink: #fce8e5;