@import "utils/variables";

.form {
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 30px 0;

  h1 {
    text-align: center;
  }

  .x {
    display: none;
    position: absolute;
    top: -14px;
    right: -6px;
  }

  fieldset {
    position: relative;
    display: block;
    margin: 20px 0;

    &.with-label {
      margin: 40px 0;
    }

    &:hover .x {
      display: inline;
    }
  }

  .fieldset-section {
    margin-top: 40px;
    margin-bottom: 20px;

    fieldset:nth-of-type(1) {
      margin-top: 0;
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  small {
    display: block;
    font-size: 14px;
  }

  input, textarea {
    display: block;
    width: calc(100% - 40px);
    padding: 15px 20px;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }

  textarea {
    height: 90px - 30px;
  }

  select {
    padding: 10px 15px;
    background: #fff;
  }

  .error {
    background: $error_pink;
    border-color: $error_red;
  }

  button:active {
    position: relative;
    top: 1px;
  }
}

.x:before {
  content: "\00d7";
  font-size: 24px;
  cursor: pointer;
}

.add-item {
  display: inline-block;
  margin: 5px 0;
  font-size: 14px;
}

.button-wrapper {
  text-align: center;
}

button {
  padding: 15px 20px;
  background: $button_color;

  @media (min-width: 500px) {
    &:hover {
      color: $content_background;
      background: $button_hover;
    }
  }
}