@import "utils/variables";

main {
  width: 100%;
  max-width: 800px;
  height: 100%;

  @media (min-width: 600px) {
    width: 90%;
    margin: 30px auto;
    margin-bottom: 50px;
  }
}

// NAV
nav {
  width: 100%;

  @media (min-width: 600px) {
    margin-bottom: 30px;
  }
}

a.logo {
  display: block;
  margin: 10px 0;
  font-family: $title_font;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 400;
  text-align: center;

  &:after {
    content: "▴";
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-left: 10px;
    padding: 0 9px 6px 9px;
    font-size: 24px;
    line-height: 1;
    background: #ccc;
    border-radius: 20px;
    transform: rotate(180deg);
  }

  @media (min-width: 600px) {
    float: left;
    margin: 0;
    text-align: left;

    &:after {
      content: none;
    }
  }
}

ul.nav-links {
  display: block;
  height: auto;
  max-height: 0;
  text-align: center;
  transition: max-height 1s;

  &.open {
    max-height: 300px;
  }

  a, button {
    width: 100%;
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 18px;
    color: $content_background;
    background: #333;
  }

  @media (min-width: 600px) {
    float: right;
    padding-top: 8px;

    li {
      float: left;
      margin: 0 15px;
    }

    li:first-child {
      display: none;
    }

    li:last-child {
      margin-right: 0;
    }

    a, button {
      padding: 2px 0;
      color: inherit;
      background: none;
      border-bottom: 3px solid #000;
    }

    a:hover, button:hover {
      background: yellow;
    }
  }
}

// MAIN
.main-section {
  width: 100%;
  position: relative;
  background: $content_background;
}