@import "utils/variables";

main {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 30px auto;
  margin-bottom: 50px;
}

// NAV
nav {
  width: 100%;
  margin-bottom: 30px;
}

a.logo {
  float: left;
  display: block;
  font-family: $title_font;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 400;
}

ul.nav-links {
  float: right;
  padding-top: 6px;

  li {
    float: left;
    margin: 0 15px;
  }

  li:last-child {
    margin-right: 0;
  }

  a, .nav-link > button {
    display: block;
    padding: 2px 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 18px;
    border-bottom: 3px solid #000;
  }

  .nav-link > button {
    background: none;
  }
}

// MAIN
.main-section {
  width: 100%;
  background: $content_background;
}