@import "utils/variables";

header {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.resume {
  padding: 30px;

  article {
    margin: 30px 0;
  }
}

.experiences {
  > li {
    margin: 20px 0;
  }

  > li:first-child {
    margin-top: 0;
  }
}

.items {
  list-style: disc;
  padding-left: 30px;

  li {
    margin: 5px 0;
  }
}

small {
  display: block;
  font-size: 14px;
  color: $border_color;
}