<fieldset>
  <textarea
    name="items[]"
    placeholder="<%= question %>"><%= description %></textarea>

  <strong class="x"></strong>

  <a class="add-item" id="item-<%= itemCounter %>" href="#">Add more items</a>
</fieldset>